In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

#### Removing duplicates

In [2]:
DF_obj = DataFrame({'column 1':[1,1,2,2,3,3,3]})
DF_obj

   column 1
0         1
1         1
2         2
3         2
4         3
5         3
6         3